<div class="aboutPanel">
    <h2>About Us</h2>
    
    <div>Welcome to The Plant Based Grocer, the one stop shop for all your plant based needs.
        Our aim is to provide top quality, organic, sustainably produced products to our community of shopers. </div>

    <p>Make sure to check our <a routerLink="#">calendar </a> for upcoming events and cooking workshops.</p>

<br>
    <img src="../assets/images/icon.png">
</div>

<div class="shopInfo">
    <div>Thank you to our customers!</div>
    <p style="color: white;">Total products available in our online store: </p>
    <div class="total">{{totalProducts | json}}</div>
    <br>
    <p style="color: white;">Total number of customer orders to date: </p>
    <div class="total">{{totalOrders | json}}</div>
</div>
